<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=ege">
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link th:href="@{/vendors/jquery-ui/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/vendors/fontawesome-free/css/all.min.css}" rel="stylesheet" />
	<link th:href="@{/vendors/adminlte/css/adminlte.min.css}" rel="stylesheet" />
	<link th:href="@{/vendors/adminlte/css/override.css}" rel="stylesheet" />
	<link th:href="@{/vendors/datatables/datatables.min.css}" rel="stylesheet" />
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
<!--</html>-->
